* {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h5,
h6,
.tip,
.description,
.variants {
  margin-left: 96px;
}

h2 {
  margin-top: 36px;
}

h6 {
  margin-top: 12px;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #777777;
}

.tip {
  background-color: #EDF3FE;
  font-size: 14px;
  border-radius: 4px;
  border-left: 4px solid #1865F2;
  padding: 4px;
  padding-left: 8px;
  margin-bottom: 12px;
  width: 650px;
  color: #21242C;
  margin-bottom: 18px;
}

p.description {
  font-size: 16px;
  color: #677389;
  width: 630px;
}

.ui {
  opacity: 1;
  display: none;
}

.octave {
  position: absolute;
  width: 1000px;
  height: 2000px;
  top: 0;
  left: 823px;
  background-color: rgba(0, 0, 0, 0.02);
  z-index: -1;
  display: none;
}

.blocks {
  display: flex;
  flex-direction: column;
  width: 2000px;
  padding-left: 72px;
  margin-bottom: 72px;
  padding-top: 36px;
}
.blocks .block {
  display: flex;
  flex-direction: column;
}
.blocks .block .row {
  padding-bottom: 10px;
}
.blocks .block .row .container {
  display: flex;
  gap: 10px;
}
.blocks .block .row .container .notes {
  display: flex;
  gap: 10px;
}

.note {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border-radius: 5px;
  color: #555555;
}
.note.legal {
  border: 4px solid #14BF96;
}
.note.legal.active {
  border: 4px solid #1865F2;
}
.note.black {
  background: #4D4D4D;
  color: #aaaaaa;
}
.note.hideblack {
  background-color: #F2F2F2;
}
.note.active {
  background-color: #EDF3FE;
  color: #1865F2;
}
.note.active .letter {
  font-weight: bold;
}
.note.active .letter.invisible {
  opacity: 1;
}
.note.playing {
  box-shadow: 0px 0px 5px 0px rgb(255, 0, 0);
}
.note .letter {
  font-size: 10px;
  margin: 5px;
}
.note .letter.invisible {
  opacity: 0;
}

.tones .note:hover,
.scales .note:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.22);
}

.variants {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-bottom: 10px;
}
.variants li {
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.variants li.active a {
  color: black;
}
.variants li a {
  text-decoration: none;
  color: #1865F2;
}

.chords .h3 {
  text-transform: capitalize;
}

.info {
  width: 86px;
  height: 45px;
  background-color: #C9C9C9;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.info h3 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  padding: 0;
}
.info p {
  font-size: 12px;
  display: none;
}
.info.major {
  background-color: #F1D080;
}
.info.minor {
  background-color: #81C6CB;
}
.info.diminished {
  background-color: #EEB7B4;
}
.info.augemnted {
  background-color: #C9C9C9;
}
.info:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.22);
}

.description em {
  font-style: normal;
}
.description em:nth-child(1) {
  color: #e2c379;
}
.description em:nth-child(2) {
  color: #81C6CB;
}
.description em:nth-child(3) {
  color: #d3a19f;
}
.description em:nth-child(4) {
  color: #767676;
}

.compact .tip {
  opacity: 1;
}
.compact p.description {
  display: none;
}

.material-icons {
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */